body{
    background-color: green;
    text-align: center;
}
ul{
    font-size: 20px;
    text-align: center;
}
img{
    height: 205px;
    width: 200px;
    margin: 20px;
    border-color: black;

}